flow
[{"id":"81b3a129.f2bb5","type":"tab","label":"Flow 4"},{"id":"d1b78234.23cb4","type":"telegram command","z":"81b3a129.f2bb5","name":"","command":"","bot":"45244d9.b5890b4","x":111.00000381469727,"y":56.00000762939453,"wires":[[],["72d8bbfe.b03324"]],"outputLabels":["","telegram.type"]},{"id":"72d8bbfe.b03324","type":"function","z":"81b3a129.f2bb5","name":"Prepare for Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":247.00003051757812,"y":106.00001525878906,"wires":[["11125b14.2416e5"]]},{"id":"11125b14.2416e5","type":"watson-conversation-v1","z":"81b3a129.f2bb5","name":"","workspaceid":"d0b2c5db-e76e-4a42-aca6-f051d345b50b","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":330.00001335144043,"y":176.00000381469727,"wires":[["9772e338.37c29"]]},{"id":"b61b797e.ecb248","type":"switch","z":"81b3a129.f2bb5","name":"menu choice","property":"payload.intents.0.intent","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"hola","vt":"str"},{"t":"eq","v":"opciones","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"}],"checkall":"true","outputs":6,"x":595.2857131958008,"y":130.85716819763184,"wires":[["1d4af89d.af7657"],["78e7fe1.f7e41"],["b0dae614.1c99f8"],["ffec9fa0.baff8"],["80c1b63.98d0d48"],["bb8c09f9.6ee788"]]},{"id":"1d4af89d.af7657","type":"http request","z":"81b3a129.f2bb5","name":"Estilos musicales","method":"GET","ret":"obj","url":"https://api.spotify.com/v1/recommendations/available-genre-seeds","tls":"","x":869.6286163330078,"y":34.714290618896484,"wires":[["9e809688.472e98"]]},{"id":"9e809688.472e98","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 1","func":"var items = msg.payload.genres;\n\nvar genres = [];\nfor (var i in items) {\n genres.push(items[i]);\n}\n\ncontent = \"Estos son los géneros que puedo buscar: \";\nfor (var i in genres) {\n content += \"\\n- \" + genres[i];\n}\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : content\n};\nreturn msg;","outputs":1,"noerr":0,"x":1101.5714111328125,"y":33.714290618896484,"wires":[["9e3b0918.7bc308"]]},{"id":"9e3b0918.7bc308","type":"telegram sender","z":"81b3a129.f2bb5","name":"","bot":"45244d9.b5890b4","x":1521.9930267333984,"y":240.32145881652832,"wires":[[]]},{"id":"9772e338.37c29","type":"function","z":"81b3a129.f2bb5","name":"Authorization","func":"msg.headers = {\n \"Authorization\" : \"Bearer BQBlLuoFDZcNGBzf3zJOtSh4uaTDEJ7cw7wxYVaH0OZryLlGyem1iBFEQOX0CEXucbpgiLVns_H8mFmhCqtP7nYS2B3bd1ihKkGsYwdo45PNZ8bQK0dofTFy86NK7nwTi_y6Ds3bscjwJqYhixdX\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":434.4429016113281,"y":230.5714569091797,"wires":[["b61b797e.ecb248","e2f03ccd.dd90a"]]},{"id":"992e761f.4b9108","type":"http request","z":"81b3a129.f2bb5","name":"Buscar cancion","method":"GET","ret":"obj","url":"","tls":"","x":1150.7143859863281,"y":740.3571147918701,"wires":[["b43e634a.3d0a5"]]},{"id":"b43e634a.3d0a5","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 6","func":"var items = msg.payload.tracks.items;\nvar rndm = Math.floor((Math.random() * items.length));\nvar item = items[rndm];\nvar artists = [];\nfor (var i in item.artists) {\n artists.push(item.artists[i].name);\n}\ntitle = item.name;\ncontent = \"Título: \" + title + \"\\nArtista:  \" + artists.join(\", \") + \".\";\n\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : content\n};\nreturn msg;","outputs":1,"noerr":0,"x":1371.2502059936523,"y":740.5358123779297,"wires":[["9e3b0918.7bc308"]]},{"id":"e2f03ccd.dd90a","type":"switch","z":"81b3a129.f2bb5","name":"menu choice","property":"payload.entities.0.entity","propertyType":"msg","rules":[{"t":"eq","v":"genres","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":574.2856750488281,"y":594.9999771118164,"wires":[["68955c0f.1bb664","dd863e44.772c"],[]]},{"id":"68955c0f.1bb664","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 5","func":"var estilo = msg.payload.input.text\ncontent = \"Del estilo \" + estilo + \" he encontrado:\\n\";\n\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : content\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1019.8620529174805,"y":593.3428478240967,"wires":[["9e3b0918.7bc308"]]},{"id":"882b23f6.5242b","type":"watson-text-to-speech","z":"81b3a129.f2bb5","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_EnriqueVoice","voicehidden":"es-ES_EnriqueVoice","format":"audio/ogg; codecs=opus","password":"OHGeAx6677zu","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":982.0143051147461,"y":126.57151222229004,"wires":[["41d54aa5.887df4"]]},{"id":"78e7fe1.f7e41","type":"function","z":"81b3a129.f2bb5","name":"obtener texto","func":"var text = msg.payload.output.text[0];\n\nmsg.payload = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":808.5857696533203,"y":129.71427726745605,"wires":[["882b23f6.5242b"]]},{"id":"41d54aa5.887df4","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 2","func":"var content = msg.payload;\n\nmsg.payload = {\n chatId : 500840093,\n type : \"audio\",\n content : content\n};\nreturn msg;","outputs":1,"noerr":0,"x":1182.3430137634277,"y":129.14287567138672,"wires":[["9e3b0918.7bc308"]]},{"id":"b0dae614.1c99f8","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 3","func":"\ncontent = msg.payload.output.text[0];\n\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : content\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":984,"y":228.57142639160156,"wires":[["9e3b0918.7bc308"]]},{"id":"dd863e44.772c","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 2","func":"var genero = msg.payload.input.text;\nmsg.payload = \"https://api.spotify.com/v1/search?q=\" + genero + \"&type=track&limit=50\"\nreturn msg;","outputs":1,"noerr":0,"x":739.9998550415039,"y":728.5713634490967,"wires":[["d61323b5.3ff1"]]},{"id":"d61323b5.3ff1","type":"change","z":"81b3a129.f2bb5","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":949.7143249511719,"y":738.571382522583,"wires":[["992e761f.4b9108"]]},{"id":"91a73a01.745868","type":"http request","z":"81b3a129.f2bb5","name":"Reproducir","method":"PUT","ret":"obj","url":"https://api.spotify.com/v1/me/player/play","tls":"","x":1006.2859878540039,"y":408.5715217590332,"wires":[["130097a8.05dcd8"]]},{"id":"80c1b63.98d0d48","type":"http request","z":"81b3a129.f2bb5","name":"Parar","method":"PUT","ret":"obj","url":"https://api.spotify.com/v1/me/player/pause","tls":"","x":956.2858734130859,"y":290.00019931793213,"wires":[["130097a8.05dcd8"]]},{"id":"bb8c09f9.6ee788","type":"http request","z":"81b3a129.f2bb5","name":"Siguiente cancion","method":"POST","ret":"obj","url":"https://api.spotify.com/v1/me/player/next","tls":"","x":936.2859954833984,"y":338.5714044570923,"wires":[["130097a8.05dcd8"]]},{"id":"130097a8.05dcd8","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 4","func":"\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : \"hecho!\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1180.5715103149414,"y":321.42857360839844,"wires":[["9e3b0918.7bc308"]]},{"id":"cd755ba9.538d38","type":"http request","z":"81b3a129.f2bb5","name":"Id dispositivo","method":"GET","ret":"obj","url":"https://api.spotify.com/v1/me/player/devices","tls":"","x":954.0000076293945,"y":931.4286136627197,"wires":[["2dccb1d7.c9c2be"]]},{"id":"895a64d6.255958","type":"inject","z":"81b3a129.f2bb5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":541.1429061889648,"y":922.8571424484253,"wires":[["5eb74a3b.be8064"]]},{"id":"5eb74a3b.be8064","type":"function","z":"81b3a129.f2bb5","name":"Authorization","func":"msg.headers = {\n \"Authorization\" : \"Bearer BQD1kqtgPevm3QAMKwiyCN1ZcAWxycLhwvQo3BubvbfIzj0UpZRdckmL67uQG1_Lku1YY_pvkCqAPH3hUKapWh6RW2UzlsEYJO6oTGvIeJekqC12K9IstA7aODsRPs8ebzdPmGVatuLOV9c6L0XEeMmf\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":739.7143020629883,"y":924.2856979370117,"wires":[["cd755ba9.538d38"]]},{"id":"2dccb1d7.c9c2be","type":"debug","z":"81b3a129.f2bb5","name":"","active":true,"console":"false","complete":"false","x":1209.8571777343748,"y":938.5714285714284,"wires":[]},{"id":"dd5919b7.51df28","type":"comment","z":"81b3a129.f2bb5","name":"Obtener ID de dispositivo","info":"","x":948.4285049438477,"y":852.857177734375,"wires":[]},{"id":"20f48b59.641994","type":"comment","z":"81b3a129.f2bb5","name":"id de mi ordenador","info":"225203ea1449c9dc3d6ccbbea04138e8b1f09378","x":939.8571701049805,"y":1008.5713882446289,"wires":[]},{"id":"ffec9fa0.baff8","type":"function","z":"81b3a129.f2bb5","name":"prepare for spotify","func":"msg.payload = {}; //es necesario que el campo payload este vacio cuando queramos usar la opcion reproducir\n                  //para que la API no de error\nreturn msg;","outputs":1,"noerr":0,"x":816.7143096923828,"y":408.57142639160156,"wires":[["91a73a01.745868"]]},{"id":"45244d9.b5890b4","type":"telegram bot","z":"","botname":"WatsonDiegoBot","usernames":"","chatids":""}]
