flow
[{"id":"81b3a129.f2bb5","type":"tab","label":"Flow 4"},{"id":"d1b78234.23cb4","type":"telegram command","z":"81b3a129.f2bb5","name":"","command":"","bot":"45244d9.b5890b4","x":111.00000381469727,"y":56.00000762939453,"wires":[[],["72d8bbfe.b03324"]],"outputLabels":["","telegram.type"]},{"id":"72d8bbfe.b03324","type":"function","z":"81b3a129.f2bb5","name":"Prepare for Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":247.00003051757812,"y":106.00001525878906,"wires":[["11125b14.2416e5"]]},{"id":"11125b14.2416e5","type":"watson-conversation-v1","z":"81b3a129.f2bb5","name":"","workspaceid":"d0b2c5db-e76e-4a42-aca6-f051d345b50b","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":330.00001335144043,"y":176.00000381469727,"wires":[["9772e338.37c29","3b5a4f63.31bea","78e7fe1.f7e41"]]},{"id":"b61b797e.ecb248","type":"switch","z":"81b3a129.f2bb5","name":"menu choice","property":"payload.intents.0.intent","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"@genre","vt":"str"},{"t":"eq","v":"hola","vt":"str"}],"checkall":"true","outputs":3,"x":611.0000038146973,"y":228.00003147125244,"wires":[["1d4af89d.af7657","a577c597.356678"],[],[]]},{"id":"1d4af89d.af7657","type":"http request","z":"81b3a129.f2bb5","name":"Estilos musicales","method":"GET","ret":"obj","url":"https://api.spotify.com/v1/recommendations/available-genre-seeds","tls":"","x":768.1999855041504,"y":49.00000190734863,"wires":[["9e809688.472e98","d9c1390d.3b2b78"]]},{"id":"9e809688.472e98","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 1","func":"var items = msg.payload.genres;\n\nvar genres = [];\nfor (var i in items) {\n genres.push(items[i]);\n}\n\ncontent = \"Estos son los géneros que puedo buscar: \";\nfor (var i in genres) {\n content += \"\\n- \" + genres[i];\n}\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : content\n};\nreturn msg;","outputs":1,"noerr":0,"x":993.0000152587891,"y":48.000003814697266,"wires":[["9e3b0918.7bc308","58c18ca2.b94354"]]},{"id":"9e3b0918.7bc308","type":"telegram sender","z":"81b3a129.f2bb5","name":"","bot":"45244d9.b5890b4","x":1314.85005569458,"y":241.7500114440918,"wires":[[]]},{"id":"9772e338.37c29","type":"function","z":"81b3a129.f2bb5","name":"Authorization","func":"msg.headers = {\n \"Authorization\" : \"Bearer BQDph_DNOoTRly3yTDIaDsa4ezpaG4dzwH3TmHBxuMy-sQPyVFRFhXTjhMhp07lkh-g1lEjg34pYcFTr0F9mzANe-NOf1c708Rkg-OV8UsDMK-Mk5zamh98zbPjeJN9dnSseXiHj5VI4uWjK\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":417.3000183105469,"y":232.0000343322754,"wires":[["e560aaf1.507d68","b61b797e.ecb248","e2f03ccd.dd90a"]]},{"id":"12ac1762.aa68a9","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 3","func":"var items = msg.payload.tracks.items;\nvar rndm = Math.floor((Math.random() * items.length));\nvar item = items[rndm];\nvar artists = [];\nfor (var i in item.artists) {\n artists.push(item.artists[i].name);\n}\ntitle = item.name;\ncontent = \"I have found \" + title + \" by \" + artists.join(\", \") + \".\";\n\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : content\n};\nreturn msg;","outputs":1,"noerr":0,"x":1268.7999267578125,"y":108,"wires":[[]]},{"id":"e5f0a9ff.a9ce68","type":"http request","z":"81b3a129.f2bb5","name":"parar musica","method":"PUT","ret":"obj","url":"https://api.spotify.com/v1/me/player/pause","tls":"","x":817.7000350952148,"y":453.75006103515625,"wires":[[]]},{"id":"e560aaf1.507d68","type":"debug","z":"81b3a129.f2bb5","name":"","active":false,"console":"false","complete":"false","x":599.1000366210938,"y":119,"wires":[]},{"id":"a577c597.356678","type":"debug","z":"81b3a129.f2bb5","name":"","active":false,"console":"false","complete":"false","x":812.3000869750977,"y":230.0000057220459,"wires":[]},{"id":"d9c1390d.3b2b78","type":"debug","z":"81b3a129.f2bb5","name":"","active":false,"console":"false","complete":"false","x":936.7000045776367,"y":113.00000381469727,"wires":[]},{"id":"58c18ca2.b94354","type":"debug","z":"81b3a129.f2bb5","name":"","active":false,"console":"false","complete":"false","x":1033.6999816894531,"y":201,"wires":[]},{"id":"992e761f.4b9108","type":"http request","z":"81b3a129.f2bb5","name":"Spotify Search API","method":"GET","ret":"obj","url":"https://api.spotify.com/v1/search?type=track&market=MY&limit=50&q=genre:{{{@genres}}}","tls":"","x":825.0000839233398,"y":327.5000400543213,"wires":[["b43e634a.3d0a5","be292aea.fc0528"]]},{"id":"b43e634a.3d0a5","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 3","func":"var items = msg.payload.tracks.items;\nvar rndm = Math.floor((Math.random() * items.length));\nvar item = items[rndm];\nvar artists = [];\nfor (var i in item.artists) {\n artists.push(item.artists[i].name);\n}\ntitle = item.name;\ncontent = \"Título: \" + title + \"\\nArtista:  \" + artists.join(\", \") + \".\";\n\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : content\n};\nreturn msg;","outputs":1,"noerr":0,"x":1061.250144958496,"y":326.250039100647,"wires":[["9e3b0918.7bc308","f711af64.5024c"]]},{"id":"e2f03ccd.dd90a","type":"switch","z":"81b3a129.f2bb5","name":"menu choice","property":"payload.entities.0.entity","propertyType":"msg","rules":[{"t":"eq","v":"genres","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":590,"y":295,"wires":[["992e761f.4b9108","a261db89.9a4478","68955c0f.1bb664"],[]]},{"id":"37231803.4cf508","type":"comment","z":"81b3a129.f2bb5","name":"falta","info":"falta obtener el estilo musical para buscar la cancion\ny ver si se pueden buscar mas de 10 canciones","x":533.8750228881836,"y":376.500036239624,"wires":[]},{"id":"be292aea.fc0528","type":"debug","z":"81b3a129.f2bb5","name":"","active":false,"console":"false","complete":"false","x":1080.7000122070312,"y":413,"wires":[]},{"id":"a261db89.9a4478","type":"debug","z":"81b3a129.f2bb5","name":"","active":false,"console":"false","complete":"false","x":685.5000305175781,"y":382,"wires":[]},{"id":"68955c0f.1bb664","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 2","func":"var estilo = msg.payload.input.text\ncontent = \"Del estilo \" + estilo + \" he encontrado:\\n\";\n\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : content\n};","outputs":1,"noerr":0,"x":975.1001892089844,"y":271.200008392334,"wires":[["9e3b0918.7bc308","1837bf09.6c1dc1"]]},{"id":"f711af64.5024c","type":"debug","z":"81b3a129.f2bb5","name":"","active":false,"console":"false","complete":"false","x":1294.9000625610352,"y":466.20001220703125,"wires":[]},{"id":"1837bf09.6c1dc1","type":"debug","z":"81b3a129.f2bb5","name":"","active":false,"console":"false","complete":"false","x":1359.5001373291016,"y":331.2000093460083,"wires":[]},{"id":"882b23f6.5242b","type":"watson-text-to-speech","z":"81b3a129.f2bb5","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_EnriqueVoice","voicehidden":"es-ES_EnriqueVoice","format":"audio/ogg; codecs=opus","password":"OHGeAx6677zu","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":926.300048828125,"y":508.0000638961792,"wires":[["41d54aa5.887df4"]]},{"id":"4dc723c1.28ef3c","type":"inject","z":"81b3a129.f2bb5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":613.8999938964844,"y":556,"wires":[["78e7fe1.f7e41"]]},{"id":"78e7fe1.f7e41","type":"function","z":"81b3a129.f2bb5","name":"","func":"var text = msg.payload.output.text[0];\n\nmsg.payload = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":764.3000640869141,"y":544.0000171661377,"wires":[["882b23f6.5242b","f28a034.ffd57"]]},{"id":"d34c0d58.10ddb","type":"debug","z":"81b3a129.f2bb5","name":"","active":false,"console":"false","complete":"false","x":1325.1000900268555,"y":566.0000171661377,"wires":[]},{"id":"41d54aa5.887df4","type":"function","z":"81b3a129.f2bb5","name":"prepare for telegram 4","func":"var content = msg.payload;\n\nmsg.payload = {\n chatId : 500840093,\n type : \"audio\",\n content : content\n};\nreturn msg;","outputs":1,"noerr":0,"x":1065.1999816894531,"y":592.0000171661377,"wires":[["9e3b0918.7bc308","d34c0d58.10ddb"]]},{"id":"3b5a4f63.31bea","type":"debug","z":"81b3a129.f2bb5","name":"","active":true,"console":"false","complete":"false","x":319.5,"y":450,"wires":[]},{"id":"f28a034.ffd57","type":"debug","z":"81b3a129.f2bb5","name":"","active":true,"console":"false","complete":"false","x":940.300048828125,"y":673,"wires":[]},{"id":"45244d9.b5890b4","type":"telegram bot","z":"","botname":"WatsonDiegoBot","usernames":"","chatids":""}]
